*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}

.frm {
  background-color: #fff;
  position: absolute;
  width: 400px;
  height: 355px;
  padding: 10px 5px 20px 5px;
  margin: -24vh 1050px;
  border-radius: 6px;
  box-shadow: 5px 5px 6px -7px;
  box-sizing: border-box;
}

.sekil {
  margin-top: 200px;
  margin-left: 450px;
  display: inline-block;
  width: 280px;
  height: 130px;
}

.solsoz {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  margin-left: 450px;
}

.mail {
  display: block;
  background-color: #fff;
  margin: auto;
  border: 1.5px solid rgb(200, 200, 200);
  width: 340px;
  border-radius: 5px;
  text-align: left;
  color: black;
  font-family: 'Segoe UI';
  font-size: 17px;
  padding-left: 30px;
  height: 55px;
  margin-top: 10px;
}


.parol {
  display: block;
  background-color: #fff;
  margin: auto;
  border: 1.5px solid rgb(200, 200, 200);
  width: 340px;
  height: 55px;
  border-radius: 5px;
  text-align: left;
  color: black;
  font-family: 'Segoe UI';
  font-size: 18px;
  margin-top: -5px;
  padding-left: 30px;

}

.daxil {
  border-radius: 6px;
  padding: 9px 160px;
  background-color: #1877f2;
  color: white;
  font-family: 'Segoe UI';
  font-size: 20px;
  margin-left: 13px;
  border: none;
  font-weight: bolder;
  height: 47px;
  width: 374px;
  padding-left: 163px;
}


.tezehsb {
  border: none;
  background-color: #42b72a;
  color: white;
  margin: auto;
  width: 200px;
  height: 50px;
  display: block;
  border-radius: 6px;
  font-weight: bolder;
  font-size: 17px;
  margin-left: 100px;
  margin-top: -3px;
}

.yenipage {
  margin-top: 160px;
  margin-left: 1100px;
  color: black;
}
.sh {
  color: black;
  
}

.unutmaq {
  display: block;
  width: 130px;
  margin: auto;
  color: #1877f2;
  padding-left: 30px;
  font-family: "Segoe UI";
  font-weight: 400;
  margin-top: 9px;
  font-size: 14px;
}
.unutmaq:hover {
  text-decoration: underline;
}

.frgt {
  border-bottom:1px solid #8a8d91;
  width: 367px;
  height: 50px;
  margin-left: 19px;
  padding-top: 3px;
}

.frm {
  background-color: #fff;
  box-shadow: 5px 5px 6px -7px;
}


.asagi {
  position: absolute;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-left: 450px;
  padding-right: 450px;
  height: 350px;
  
}
html{
  height: auto;
}

.asagi ol {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px 0;


}

.asagi:first-child {
  border-bottom: 1px solid #dddfe2;
}

.asagi:first-child li:last-child button {
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  outline: none;
  color: #4b4f56;
  padding: 0 8px;
  font-weight: 700;
  font-size: 16px;
}

.asagi ol li {
  padding-right: 15px;
  font-size: 12px;
  color: #8a8d91;
}

.asagi ol li a {
  text-decoration: none;
  color: #8a8d91;
}

.asagi ol li a:hover {
  text-decoration: underline;
}

.meta {
  color: #8a8d91;
}